body {
    background-color: white; /* 背景颜色为白色 */
}
nav, .black-link {
    background-color: black;
    color: white !important;
    text-decoration: none !important;
}
.black-link:hover{
    text-decoration: underline
}
.container {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}